.container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: 80px;
  margin-right: 40px;
  overflow: visible;
  stroke: #fff;
  strokewidth: 2;
  strokelinejoin: round;
  strokelinecap: round;
}
