.image-container {
  animation: move-right-to-left 26s linear infinite;
}

.image-container:hover {
  animation-play-state: paused;
}

@keyframes move-right-to-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.image-container2 {
  animation: move-left2-to-right 26s linear infinite;
}

.image-container2:hover {
  animation-play-state: paused;
}

@keyframes move-left2-to-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.image-container3 {
  animation: move-left3-from-right 26s linear infinite;
}

.image-container3:hover {
  animation-play-state: paused;
}

@keyframes move-left3-from-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 14px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -125%;
    top: -125%;
    width: 350%;
    height: 350%;
    background-color: #a6d0dd;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#2255d6, #2babd2),
      linear-gradient(#cb0fcb, #4b87b1), linear-gradient(#7d45e5, #74f60a),
      linear-gradient(#0e9558, #1dd34a);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 3.2px;
    top: 3.2px;
    width: calc(100% - 6.4px);
    height: calc(100% - 6.4px);
    border-radius: 12px;
    background: #151616;
  }
}
